<section class="page-width py-20 text-secam-white md:flex md:flex-row-reverse md:items-center">
  <h1 class="text-4xl uppercase leading[1.55] font-bold text-white md:hidden">
    Le super titre de ma section
  </h1>
  <img class="md:w-1/2" src="https://cdn.shopify.com/s/files/1/0658/5093/3470/files/mockup-phone-solo.png?v=1667474963" alt="#" loading="lazy" width="auto" height="auto"/>
  <div>
    <h1 class="text-4xl hidden uppercase leading[1.55] font-bold text-white md:block">
      Le super titre de ma section
    </h1>
    <p class="text-secam-white mt-6">Lorem ipsum dolor sit amet. Et voluptate maxime 33 consequatur consequatur est quod laudantium sit tenetur recusandae qui quasi nisi cum placeat nihil! Qui dolorum architecto non deserunt ipsum sed ipsam saepe!</p>
    <button class="btn-white" onclick="location.href = 'www.yoursite.com';">Shop now</button>
    <p class="mt-6 text-xl text-secam-white">Plus de 700 clients satisfaits ! 🌟</p>
  </div>
</section>

{% schema %}
  {
    "name": "Banner with best product",
    "tag": "section",
    "class": "bg-secam-dark-blue",
    "settings": [
      {
        "type": "text",
        "id": "banner_product_title",
        "label": "Title banner"
      }, {
        "type": "text",
        "id": "banner_product_text",
        "label": "Text banner"
      }, {
        "type": "product",
        "id": "product",
        "label": "Product"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Banner subtitle"
      }
    ],
    "presets": [
      {
        "name": "Banner with best product"
      }
    ]
  }
{% endschema %}