<section class="bg-secam-dark-blue text-white flex flex-col items-center p-4">
  <div class="mb-2 rounded-full h-[100px] w-[100px] overflow-hidden border-4 border-white">
    <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" loading="lazy" height="auto" width="auto">
  </div>
  <div>☆☆☆☆☆</div>
  <blockquote class="text-white p-0 text-center m-2">“Easily my best purchase of the year.It was painless and didn't cause any frictioneven when it was rubbed on the skin. I highly recommend.”</blockquote>
  <p class="text-center">
    <strong>Jane M.</strong>
    <br/><span class="text-lg text-gray-300">Verified Buyer</span>
  </p>
</section>

{% schema %}
  {
    "name": "Testimonial",
    "tag": "section",
    "class": "page-width",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "testimonial_image_customer",
        "label": "Customer picture"
      },
      {
        "type": "number",
        "id": "nb_stars",
        "label": "Number of star"
      },
      {
        "type": "text",
        "id": "customer_testimonial_text",
        "label": "Testimonial text"
      },
      {
        "type": "text",
        "id": "customer_testimonial_name",
        "label": "Customer name"
      }, {
        "type": "checkbox",
        "id": "show_badge_verif",
        "label": "Show verification",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Testimonial Customer"
      }
    ]
  }
{% endschema %}